.modal-popup .modal-inner-wrap {
    pointer-events: auto;
}
.modal-popup.newsletter-popup .modal-inner-wrap {
    width: 670px;
}
.modal-popup.newsletter-popup .buttons-container button.subscribe {
    background-color: #1979c3;
    border-color: #1979c3;
}
.modal-popup.newsletter-popup .buttons-container button.subscribe:hover {
    background-color: #006bb4;
    border-color: #006bb4;
}
.modal-popup .modal-social {
    font-size: 1.75em;
}
.modal-popup .modal-social .fa {
    padding: 7px 5px;
}
.modal-popup .modal-social :link,
.modal-popup .modal-social :hover {
    text-decoration: none;
}
