<section class="home-section">
	<div class="row">
		<div class="col-sm-12 mb-30">
			<div class="flex-header">
				<h2>Exceptional Products &amp; Service</h2>
				<div class="bline">&nbsp;</div>
				<p class="max-w-sm">
					We don't just want you to be satisfied with your purchase, we also aim for it being the best experience in our industry. Our team's dedication towards quality and customer service will put a smile on your face.
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon33.svg" alt="Discounts &amp; Savings" /></div>
				<h3>Discounts &amp; Savings</h3>
				<p>
					Save money on your favourite items with our exclusive discounts and savings. There's never been a better time to buy from us!
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon17.svg" alt="Trade Accounts" /></div>
				<h3>Trade Accounts</h3>
				<p>
					The more you buy, the better our deals get. We have trade accounts that offer consistent discounts with every purchase.
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon44.svg" alt="Heat Calculator" /></div>
				<h3>Heat Calculator</h3>
				<p>
					Take the guesswork out of how much heat coverage your room needs with our handy online heat calculator - it only takes a couple of minutes.
				</p>
			</div>
		</div>
	</div>
</section>
