<section class="my-lg home-section">
	<div class="row">
		<div class="col-sm-6 hidden-sm">
			<div class="mb-30 h-full flex-container">
				<picture>
					<source srcset="media/wysiwyg/banners/radiatorbanner.svg" type="image/svg+xml" />
					<source srcset="media/wysiwyg/banners/radiatorbanner.webp" type="image/webp" />
					<img class="contained-image rounded-sm max-w-lg" src="media/wysiwyg/banners/radiatorbanner.jpg" alt="Geyser Designer Radiators and Towel Rails" />
				</picture>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="flex-container">
				<h2>Designer Radiators <br />and Towel Rails</h2>
				<div class="bline">&nbsp;</div>
				<p class="intropara">
					At Geyser, we know that you want your home to be perfect and we're here to help with the details. We believe that everyone should have designer radiators and towel rails that complement the hard work committed to the look and feel of your home. Whether you are looking for a central heating designer radiator or a central heating towel rail or electric towel rail, we have what you need.
				</p>
			</div>
		</div>
	</div>
</section>
