<section class="home-section">
	<div class="row mt-35">
		<div class="col-sm-6">
			<div class="flex-container">
				<h2>Mild Steel Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Mild Steel designer radiators are the most cost effective and durable designer heating options, featuring the classic flat panel and double panel designs that started the designer radiator evolution which inspired the many new styles and colours that we now have on offer.</p>
				<a class="pbutton" href="/designer-radiators/mild-steel-designer-radiators">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="col-sm-6">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/mild-steel.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/mild-steel.jpg" alt="Mild Steel Radiators" />
				</picture>
			</div>
		</div>
	</div>
	<div class="flex-split mt-35">
		<div class="flex-split">
			<div class="resp-m-top flex-container ml-30 mlsm">
				<h2>Aluminium Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Our aluminium designer radiators boast the highest heat outputs out of all designer heating whilst still being the most energy efficient and lightweight design, with aluminium transferring heat better than other materials and also having a lower water content these radiators will warm your room faster and are cheaper to run than your average radiator.</p>
				<a class="pbutton" href="/designer-radiators/aluminium-radiators">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="flex-split">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/@2xar1.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/@2xar1.jpg" alt="Aluminium Radiators" />
				</picture>
			</div>
		</div>
	</div>
	<div class="row mt-35">
		<div class="col-sm-6">
			<div class="flex-container">
				<h2>Stainless Steel Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Manufactured from high grade stainless steel these designer radiators are built to last. Easy to clean and available in polished steel or brushed steel finishes makes these the ideal heating choice for any modern kitchen.</p>
				<a class="pbutton" href="/designer-radiators/stainless-steel-radiators">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="col-sm-6">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/stainless-steel.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/stainless-steel.jpg" alt="Stainless Steel Radiators" />
				</picture>
			</div>
		</div>
	</div>
</section>
