<section class="home-section">
	<div class="row mt-35">
		<div class="col-sm-6">
			<div class="flex-container">
				<h2>Mild Steel Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<a class="pbutton">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="col-sm-6">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/@2xms1.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/@2xms1.jpg" alt="Horizontal Radiators" />
				</picture>
			</div>
		</div>
	</div>
	<div class="flex-split mt-35">
		<div class="flex-split">
			<div class="resp-m-top flex-container ml-30 mlsm">
				<h2>Aluminium Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<a class="pbutton">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="flex-split">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/@2xar1.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/@2xar1.jpg" alt="Horizontal Radiators" />
				</picture>
			</div>
		</div>
	</div>
	<!--                <div class="row mt-35">-->
	<!--                    <div class="col-sm-6">-->
	<!--                      <div class="">-->
	<!--                        <picture>-->
	<!--                          <source srcset="media/wysiwyg/banners/@2xar1.webp" type="image/webp"/>-->
	<!--                          <img class="contained-image rounded-sm"-->
	<!--                               src="media/wysiwyg/banners/@2xar1.jpg"-->
	<!--                               alt="Horizontal Radiators"/>-->
	<!--                        </picture>-->
	<!--                      </div>-->
	<!--                    </div>-->
	<!--                    <div class="col-sm-6">-->
	<!--                        <div class='resp-m-top flex-container'>-->
	<!--                          <h2>Aluminium Radiators</h2>-->
	<!--                          <div class='bline'>&nbsp;</div>-->
	<!--                          <p>-->
	<!--                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,-->
	<!--                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat-->
	<!--                            voluptatem.-->
	<!--                          </p>-->
	<!--                          <a href='' class='pbutton'>Shop Now</a>-->
	<!--                        </div>-->
	<!--                    </div>-->
	<!--                </div>-->
	<div class="row mt-35">
		<div class="col-sm-6">
			<div class="flex-container">
				<h2>Stainless Steel Radiators</h2>
				<div class="bline">&nbsp;</div>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<a class="pbutton">Shop Now</a>
			</div>
			<div class="show-mobile">&nbsp;</div>
		</div>
		<div class="col-sm-6">
			<div class="">
				<picture>
					<source srcset="media/wysiwyg/banners/@2xss1.webp" type="image/webp" />
					<img class="contained-image rounded-sm" src="media/wysiwyg/banners/@2xss1.jpg" alt="Horizontal Radiators" />
				</picture>
			</div>
		</div>
	</div>
</section>
