<section class="home-section">
	<div class="row">
		<div class="col-sm-12">
			<div class="relative overflow-hidden">
				<picture>
					<source srcset="media/wysiwyg/banners/bannerhoriz1.webp" type="image/webp" />
					<img class="relative contained-image rounded-sm" src="media/wysiwyg/banners/bannerhoriz1.jpg" alt="Column Radiators" />
				</picture>
				<div class="bgnooverlay hero4_overlay bgoverlaysm">
					<div class="overlay_inner flex-container">
						<h4 class="overlay_seo_title">Traditional</h4>
						<h2 class="overlay_card_title">Column Radiators Made Especially For You</h2>
						<div class="bline hidden-sm">&nbsp;</div>
						<p class="hidden-sm">
							If you're looking to update your home with new column radiators, then look no further. We have a large range of in stock white or anthracite column radiators and over 10,000 custom colour and size options to choose from.
						</p>
						<ul class="hidden-sm hidden-md list-inline">
							<li><a href="/column-radiators/column-radiators-made-especially-for-you" class="plink">Column Radiators Made Especially For You</a></li>
							<li><a href="/column-radiators/horizontal-column-radiators" class="plink">Horizontal Column Radiators</a></li>
							<li><a href="/column-radiators/vertical-column-radiators" class="mt-10 plink">Vertical Column Radiators</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
