<section class="home-section">
	<div class="row">
		<div class="col-sm-12 mb-30">
			<div class="flex-header">
				<h2>Exceptional Products &amp; Service</h2>
				<div class="bline">&nbsp;</div>
				<p class="max-w-sm">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon33.svg" alt="Discounts &amp; Savings" /></div>
				<h3>Discounts &amp; Savings</h3>
				<p>Nemo enim ipsam voluptatem voluptears aspernatur aut odit fugit, consequuntur magni dolores.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon17.svg" alt="Trade Accounts" /></div>
				<h3>Trade Accounts</h3>
				<p>Nemo enim ipsam voluptatem voluptears aspernatur aut odit fugit, consequuntur magni dolores.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="bordered-card p-lg rounded-sm mb-30 flex-card">
				<div><img class="card_icon" src="media/wysiwyg/home/icon44.svg" alt="Heat Calculator" /></div>
				<h3>Heat Calculator</h3>
				<p>Nemo enim ipsam voluptatem voluptears aspernatur aut odit fugit, consequuntur magni dolores.</p>
			</div>
		</div>
	</div>
</section>
