<section class="home-section">
	<div class="row">
		<div class="col-sm-12">
			<div class="relative overflow-hidden">
				<picture>
					<source srcset="media/wysiwyg/banners/bannerhoriz1.webp" type="image/webp" />
					<img class="relative contained-image rounded-sm" src="media/wysiwyg/banners/bannerhoriz1.jpg" alt="Column Radiators" />
				</picture>
				<div class="bgnooverlay hero4_overlay bgoverlaysm">
					<div class="overlay_inner flex-container">
						<h4 class="overlay_seo_title">Traditional</h4>
						<h2 class="overlay_card_title">Column Radiators</h2>
						<div class="bline hidden-sm">&nbsp;</div>
						<p class="hidden-sm">Neque porro featured category est, featured category quia dolor sit featured category.</p>
						<ul class="hidden-sm hidden-md list-inline">
							<li><a class="plink">Horizontal Column Radiators</a></li>
							<li><a class="mt-10 plink">Vertical Column Radiators</a></li>
							<li><a class="mt-10 plink">White Column Radiators</a></li>
							<li><a class="mt-10 plink">Metallic Column Radiators</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
